@font-face {
    font-family: "Torus Notched";
    src: url("./font/torus.ttf"
        );
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #FFF, transparent);
    z-index: 1000;
}
section img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}

section img#man {
    transform-origin: bottom;
}
#text {
    font-family: "Torus Notched";
    position: relative;
    color: #FFF;
    font-size: 10vw;
}

.sec {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 100px;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #20496A;
}

.sec p {
    font-size: 1.2em;
    color: #20496A;
}